{% extends  'base.html.twig' %}

{% block title %}
   Contact
{% endblock %}

{% block body %}
   <div class="text-center col-8 offset-2 fs-4 text">
      <h1>Formulaire de contact</h1>
   <p>Vous souhaitez me contacter, merci de remplir ce formulaire</p>

   </div>
{% endblock %}