{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h2 class="text-center">Ouppsssss !!! nous avons rencontré une erreur 404</h2>

    <img src="{{ asset('image/error 404.jpg') }}" alt="erreur 404" class="mx-auto d-block" height="20%" width="33%" >

{% endblock %}