<nav id="navbar">

    <div class="container-fluid">

        <buttom type="button" class="btn btn-secondary ">
            <a class="nav-link active" href="{{ path('app_monProfil') }}">Mon profil </a>
        </buttom>

        <buttom type="button" class="btn btn-secondary ">
            <a class="nav-link active" href="{{ path('app_mesExperiences') }}">Mes expériences</a>
        </buttom>

        <buttom type="button" class="btn btn-secondary ">
            <a class="nav-link active" href="{{ path('app_contact') }}">contact</a>
        </buttom>

    </div>

</nav>
